.store-container {
    background:             url("../images/about_local/collage00.jpg");    
    width:                  100%;
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-position:    center;
    background-size:        cover;    
}

.barber-container {
    background:             url("../images/about_local/collage00.jpg");    
    width:                  100%;
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-position:    center;
    background-size:        cover;    
}

.store-gallery-mini-container {
    background-color:   #000000;
    opacity:            0.7;
    border:             1px solid #FFF;
    float:              left;
    height:             150px;
}

.barber-container-about {
    float:              left;
    margin-bottom:      15px;
    border:             3px solid #FFF;
    border-top:         0px;
    background-color:   #000000;
    opacity:            0.7;
    width:              50%;
}

.store-container-about {
    float:              right;
    margin-top:         15px;
    margin-bottom:      15px;
    border:             5px solid #FFF;
    background-color:   #000000;
    opacity:            0.7;
    width:              50%;
}

.pos-right {
    float: right;
}

.pos-left {
    float: left;
}

.gal-thumbs-container {
    border: solid black 1px;
    margin-top:     15px;
    margin-bottom:  15px;
}

.gal-thumb-container {

}

.gal-info-holder {
    border:             solid black 2px;
    background-color:   #000000;
    opacity:            0.7;
}

.gal-thumb {
    max-height: 200px;
    max-width: 200px;
    border: solid white 2px;
    display: inline;
}

.gal-navlist {
    display: inline;
    list-style-type: none;
    padding-right: 0;
}

.gal-thumb-holder {
    display: block;
}

.deco {
    font-family:        'Slabo 27px', serif;
    background-color:   rgba(51, 51, 51, 0.56);
    margin-top:         28px;
    height:             120px;
    width:              120px;
    border:             5px solid #FFF;
    webkit-transform:   rotate(45deg);
    -moz-transform:     rotate(45deg);
    -ms-transform:      rotate(45deg);
    -o-transform:       rotate(45deg);
    transform:          rotate(45deg);
    position:           relative;
    transition:         0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition:    0.5s all;
    -o-transition:      0.5s all;
    -ms-transition:     0.5s all;
}
