/*--
Author: W3Layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Reset Code --*/
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family:  'Open Sans', sans-serif, 'Sancreek', 'Ribeye', 'Carnivalee Freakshow';
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
p {
	margin:0;
}
ul {
	margin:0;
	padding:0;
}
label {
	margin:0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
img {
	width: 100%;
}
/*-- //Reset Code --*/

/*-- Index-Page-Styling --*/

/*-- Navbar --*/
.navbar-inverse {
	position: absolute;
	z-index: 99999;
	border: none;
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}
.navbar-inverse .navbar-toggle {
	border-color: #333;
	border: 3px solid #FFF;
}
.logo {
	font-family: 'Slabo 27px', serif;
	background-color: rgba(51, 51, 51, 0.56);
	margin-top: 28px;
	height: 120px;
	width: 120px;
	border: 5px solid #FFF;
	webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.logo:hover {
	background-color: rgba(0, 6, 9, 0.68);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.navbar-inverse .navbar-brand {
	position: absolute;
	font-size: 20px;
	font-weight: 900;
	color: #EEE;
	webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: -5px;
	top: 20px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #FFF;
}
.navbar-nav {
	background-color: transparent;
	margin-top: 50px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
	color: #EEE;
	font-weight: 600;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #FFF;
}
ul#cross-effect {
	margin-top: 50px;
}
/*-- Hover-Cross-Effect --*/
.cross-effect {
	position: relative;
	z-index: 1;
}
.cross-effect a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.cross-effect a::before, .cross-effect a::after {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	height: 2px;
	margin-top: -1px;
	background: #EEE;
	content: '';
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.cross-effect a::before {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
.cross-effect a::after {
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}
.cross-effect a:hover, .cross-effect a:focus {
	color: #fff;
}
.cross-effect a:hover::before, .cross-effect a:hover::after, .cross-effect a:focus::before, .cross-effect a:focus::after {
	opacity: 0.7;
}
.cross-effect a:hover::before, .cross-effect a:focus::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cross-effect a:hover::after, .cross-effect a:focus::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/*-- //Hover-Cross-Effect --*/
/*-- //Navbar ---*/

/*-- Carousel-Controls-Changed-from-Default-Code --*/
.carousel-control.left {
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	filter: none;
	background-repeat: repeat-x;
}
.carousel-control.right {
	right: 0;
	left: auto;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	filter: none;
	background-repeat: repeat-x;
}
.carousel-control {
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 0;
	width: inherit;
	font-size: 0;
	color: transparent;
	text-shadow: none;
	filter: alpha(opacity=50);
	opacity: .5;
}
/*-- //Carousel-Controls --*/

/*-- Slider-Grid --*/
.slider-grid-bg {
	background: rgba(0, 0, 0, 0.57);
	border: 2px solid rgba(255, 255, 255, 0.57);
	height: 350px;
	width: 350px;
	text-align: center;
	position: absolute;
	top: 32%;
	left: 37.5%;
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.slider-grid-bg:hover {
	background-color: transparent;
	border: 2px solid #000000;
}
.slider-grid-text {
	position: absolute;
	left: -30px;
	top: 85px;
	text-align: center;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
}
.slider-grid-text h5 {
	font-size: 30px;
	color: #FFF;
	font-weight: 600;
	margin-bottom: 20px;
}
.slider-grid-text .border {
	width: 100px;
	border-top: 3px solid #EEE;
	margin: 0 auto;
}
.slider-grid-text p {
	font-size: 14px;
	color: #EEE;
	line-height: 30px;
	margin-top: 35px;
}
/*-- //Slider-Grid --*/

/*-- Carousel-Controls-Diamond-Hover-Effect --*/
.nav-diamond a {
	margin: 0 30px;
}
.nav-diamond .icon-wrap {
	position: absolute;
	height: 100%;
	z-index: 100;
}
.nav-diamond svg.icon {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.nav-diamond .left-arrow, .right-arrow {
	position: relative;
	overflow: hidden;
	width: 70px;
	height: 70px;
	border: 3px solid #FFF;
	background: #FFF url("../images/left.png") no-repeat;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.nav-diamond .left-arrow:hover {
	background: none;
}
.nav-diamond .right-arrow {
	background: #FFF url("../images/right.png") no-repeat;
}
.nav-diamond .right-arrow:hover {
	background: none;
}
.nav-diamond img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: #FFF;
	border: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.nav-diamond a.prev img {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(2);
	transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(2);
}
.nav-diamond a.next img {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg) scale(2);
	transform: translateX(-50%) translateY(-50%) rotate(-45deg) scale(2);
}
.nav-diamond a:hover div {
	-webkit-transform: scale(1) rotate(-45deg);
	transform: scale(1) rotate(-45deg);
}
.nav-diamond a.next:hover div {
	-webkit-transform: scale(1) rotate(45deg);
	transform: scale(1) rotate(45deg);
}
.nav-diamond a:hover img {
	opacity: 0.8;
}
.nav-diamond a.prev:hover img {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(1);
	transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(1);
}
.nav-diamond a.next:hover img {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg) scale(1);
	transform: translateX(-50%) translateY(-50%) rotate(-45deg) scale(1);
}
/*-- //Carousel-Controls-Diamond-Hover-Effect --*/

/*-- Content --*/

h1, .about h3, .portfolio h3, .testimonial h3, .skills h3, .stats h3, .clients h3, .team h3, .contact h3 {
	font-size: 40px;
	font-weight: 600;
	margin: 50px auto 0;
}
.about h3, .testimonial h3, .stats h3, .team h3, .contact h3 {
	color: #FFF;
}
.heading-underline {
	height: 5px;
	width: 10%;
	margin: 20px auto 50px;
	background-color: indianred;
	border-radius: 20px;
}

/*-- Features --*/
.features {
	background-color: #f5f5f5;
}
.features h2, .features h3 {
	font-size: 30px;
	line-height: 60px;
}
.features p {
	text-align: center;
	color: #363636;
	font-size: 16px;
	font-weight: 600;
	padding: 20px 0;
}
.features span {
	color: #006DB7;
}
.feature1 {
	margin-bottom: 70px;
	width: 33%;
	float: left;
}
.features-icon {
	width: 30%;
	float: left;
}
.features-icon img {
	width: 90%;
}
.features-info {
	width: 70%;
	float: left;
	padding-left: 25px;
}
.features-item:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 30px 30px 0;
	border-style: solid;
	border-color: #F5F5F5 #F5F5F5 #028fcc #028fcc;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition: border-color .2s ease-in-out;
	-moz-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
	display: block;
	width: 0;
}
.features-item{
	background: #FFF;
	padding: 30px 20px 20px;
	margin: 15px 0;
	position: relative;
	overflow: hidden;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}
.features-item h4{
	font-size: 20px;
	font-weight: 700;
	color: #028fcc;
	text-align: left;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.features-item p {
	font-size: 14px;
	margin: 10px 0;
	padding: 10px 0;
	font-weight: 100;
	text-align: left;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.features-item:hover{
	background: rgba(2, 143, 204, 0.88);
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}
.features-item:hover h4{
	color: #FFF;
	transform: translate(0,-5px);
	-webkit-transform: translate(0,-5px);
	-o-transform: translate(0,-5px); 
	-moz-transform: translate(0,-5px);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.features-item:hover p{
	color: #EEE;
	transform: translate(0,-5px);
	-webkit-transform: translate(0,-5px);
	-o-transform: translate(0,-5px); 
	-moz-transform: translate(0,-5px);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.features-item:hover:before {
	border-color: #F5F5F5 #F5F5F5 #006db7 #006db7;
	-webkit-transition: border-color .2s ease-in-out;
	-moz-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
}
/*-- //Features --*/

/*-- Banner --*/

.mano-banner {
    background: url("../images/banner_mano_libre.jpg");
    height: 100px;
    width: 100%;
}

.header-banner {
    height: 88px;
    background: url("../images/banner.jpg");
}

.navbar-collapse {
    margin-top: -25px;
}

/*-- About --*/

.store-image {
    border: 2px solid black;
}

.about-store {
    background: url("../images/about_local/collage00.jpg");
    height: 500px;    
}

.about-barber {
    background: url("../images/about_pelu/collage00.jpg");
    background-repeat: repeat-x;
    background-attachment: fixed;
    height: 500px;    
}

.about {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.about p {
	color: #EEE;
	font-size: 14px;
	line-height: 35px;
	padding: 0 25px;
	text-align: center;
}

.social {
	margin-top: 30px;
	text-align: center;
}
ul.social-icons li {
	display: inline-block;
}
ul.social-icons li a {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url("../images/img-sprite.png") no-repeat 0px 0px;
}
ul.social-icons li a.facebook {
	background-position: 0px 0px;
}
ul.social-icons li a.facebook:hover {
	background-position: 0px -50px;
}
ul.social-icons li a.twitter {
	background-position: -50px 0px;
}
ul.social-icons li a.twitter:hover {
	background-position: -50px -50px;
}
ul.social-icons li a.googleplus {
	background-position: -100px 0px;
}
ul.social-icons li a.googleplus:hover {
	background-position: -100px -50px;
}
ul.social-icons li a.instagram {
	background-position: -150px 0px;
}
ul.social-icons li a.instagram:hover {
	background-position: -150px -50px;
}
ul.social-icons li a.youtube {
	background-position: -200px 0px;
}
ul.social-icons li a.youtube:hover {
	background-position: -200px -50px;
}
/*-- //About --*/

/*-- Portfolio --*/
.portfolio {
	padding-bottom: 50px;
        background-color: black;
}
/*-- Tabs --*/
.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
}
.tabs nav {
	text-align: center;
}
.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}
.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}
.tabs nav li.tab-current a {
	color: #74777b;
}
.tabs nav a:focus {
	outline: none;
}
.portfolio h4 {
	margin: 30px 0;
	font-size: 25px;
	font-weight: 600;
}
/*-- Tabs-Content --*/
.content-wrap {
	position: relative;
}
.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 1em;
	max-width: 1200px;
	text-align: center;
}
.content-wrap section.content-current {
	display: block;
}
.content-wrap section p {
	margin: 0;
	padding: 0.75em 0;
	color: rgba(40,44,42,0.05);
	font-weight: 900;
	font-size: 4em;
	line-height: 1;
}
/*-- //Tabs-Content --*/

/*-- Fallback --*/
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}
.no-flexbox nav ul {
	display: block;
}
.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}
/*-- //Fallback --*/

/*-- Tabs-Styling --*/
.tabs-style-bar nav {
	background: rgba(40,44,42,0.05);
}
.tabs-style-bar nav ul {
	border: 4px solid transparent;
}
.tabs-style-bar nav ul li a {
	margin: 0 2px;
	background-color: #f7f7f7;
	color: #74777b;
	transition: background-color 0.2s, color 0.2s;
	border-radius: 25px;
}
.tabs-style-bar nav ul li a:hover, .tabs-style-bar nav ul li a:focus {
	color: black;
	background-color: silver;
}
.tabs-style-bar nav ul li a span {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 13px;
}
.tabs-style-bar nav ul li.tab-current a {
	background: darkcyan;
	color: #fff;
}
/*-- //Tabs-Styling --*/

/*-- Tab-Images --*/
.gallery-top {
	padding: 10px;
}
.gallery-grids figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	width: 100%;
}
.gallery-grids figure img {
	position: relative;
	display: block;
	width: 100%;
	border: 3px solid #C7C7C7;
}
.gallery-bottom {
	margin: 2.5em 0;
}
.gallery-grids figure figcaption {
	padding: 2em;
	color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.gallery-grids figure figcaption::before, .gallery-grids figure figcaption::after {
	pointer-events: none;
}
.gallery-grids figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-bubba {
	background: #000;
}
figure.effect-bubba:hover img {
	opacity: 0.3;
}
figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s,-webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1); 
	-o-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
}
figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-o-transform: scale(1,0);
	-ms-transform: scale(1,0);
	transform: scale(1,0);
}
figure.effect-bubba h4 {
	padding-top: 11%;
	-webkit-transition: transform 0.35s;
	-moz-transition: transform 0.35s;
	-o-transition: -o-transform 0.35s;
	-ms-transition: -ms-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	-moz-transform: translate3d(0,-20px,0);
	-o-transform: translate3d(0,-20px,0);
	-ms-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:0;
}
.gallery-top figure.effect-bubba h4{
	padding-top: 15%;
}
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h4 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-- //Tab-Images --*/
/*-- //Tabs --*/
/*-- //Portfolio --*/

/*-- Testimonials --*/
.testimonial {
	background: url("../images/6.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 400px;
	text-align: center;
}
.testimonial p {
	color: #EEE;
	font-size: 14px;
	line-height: 35px;
	padding: 0 50px;
}
.test-span p {
	text-align: center;
	font-size: 13px;
	color: #848484;
	margin-top: 10px;
}
/*-- //Testimonials --*/

/*-- Skills --*/
.skills p {
	line-height: 35px;
	margin-top: 40px;
	text-align: center;
}
.skills-numbers {
	margin-top: 100px;
	padding: 0 50px;
}
.num1 {
	width: 20%;
	float: left;
	text-align: center;
}
.num1 .num-rotate {
	width: 100px;
	height: 100px;
	position: relative;
	left: 23%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #006db7;
}
.num1 .num-rotate:before {
	content: "";
	position: absolute;
	top: 0px;
	right: 70px;
	border-width: 0 30px 30px 0;
	border-style: solid;
	border-color: #FFF #FFF #006db7 #006db7;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition: border-color .2s ease-in-out;
	-moz-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
	display: block;
	width: 0;
	transform: rotate(-90deg);
}
.num1 .num-rotate:hover:before {
	border-color: #006db7 #006db7 #006db7 #006db7;
	-webkit-transition: border-color .2s ease-in-out;
	-moz-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
	box-shadow: none;
}
.num1 .numscroller {
	color: #FFF;
	position: absolute;
	top: 30px;
	left: 35px;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
	display: block;
	font-size: 25px;
	font-weight: 900;
}
.num1 h4 {
	margin: 50px 0 0 0;
	font-size: 20px;
	font-weight: bolder;
}
/*-- Progress-Bar --*/
#about-us {
	padding: 60px 0;
}
#about-us h2 {
	margin-top: 0;
	color: #fff;
}
#about-us .lead {
	font-size: 16px;
	font-weight: 800;
	margin-bottom: 5px;
	text-align: left;
}
#about-us h1 {
	margin-bottom: 30px;
}
.progress{
	height: 20px;
	background-color: #EEE;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin-bottom: 25px;
}
.progress-bar{
	box-shadow: none;
	-webkit-box-shadow: none;
	text-align: right;
	padding-right: 12px;
	background-color: #006db7;
	font-size: 12px;
	font-weight: 600;
}
.progress .progress-bar.six-sec-ease-in-out {
	-webkit-transition: width 2s ease-in-out;
	transition: width 2s ease-in-out;
}
/*-- //Progress-Bar --*/
/*-- //Skills --*/

/*-- Stats --*/
.stats {
	background: url("../images/s1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 600px;
}
.stats p {
	color: #EEE;
	font-size: 14px;
	line-height: 35px;
	padding: 0 50px;
	text-align: center;
}
.stats-info {
	text-align: center;
	margin-top: 50px;
}
.stats-img img {
	width: 100px;
}
.stats-img {
	margin-bottom: 30px;
}
.stats-grid {
	font-size: 35px;
	font-weight: 700;
	color: #006db7;
	margin-bottom: 10px;
}
p.stats-info {
	margin-top: 20px;
}
/*-- //Stats --*/

/*-- Clients --*/
.clients {
	padding-bottom: 80px;
}
.clients .heading-underline {
	margin-bottom: 70px;
}
/*-- //Clients --*/

/*-- Team --*/
.team {
	background: url("../images/team/collage00.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 570px;
}
.team-image {
	position: relative;
}
.team-social {
	display: none;
	position: absolute;
	top: 40%;
	left: 20%;
	width: 65%;
	height: 20%;
}
.team-image:hover div.team-social {
	display: block;
	background-color: rgba(51, 51, 51, 0.58);
}
.team h4 {
	margin-top: 30px;
	font-size: 25px;
	font-weight: 500;
	color: #FFFFFF;
}
/*-- //Team --*/

/*-- Map-Starts-Here --*/
.map iframe {
	width: 100%;
	height: 400px;
	border: 5px solid #FAFAFA;
}
/*-- //Map-Ends-Here --*/

/*-- Contact-Starts-Here --*/
.contact {
	background: url("../images/contact/telephone_1280_853.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 550px;
}

.contact_title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact_form input[type='text'] {
	width: 100%;
	border-radius: 0;
	line-height: 22px;
	font-size: 14px;
	padding: 14px 17px 14px;
	outline: none;
	color: #FFF;
	height: 50px;
	border: 1px solid #d5d5d5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 20px;
	background: rgba(51, 51, 51, 0.61);
}
.contact_form textarea {
	width: 100%;
	border-radius: 0;
	line-height: 22px;
	font-size: 14px;
	padding: 14px 17px 14px;
	outline: none;
	border: 1px solid #d5d5d5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
	color: #FFF;
	height: 191px;
	background: rgba(51, 51, 51, 0.61);
}
form.contact_form {
	text-align: center;
}
.message {
	margin-bottom: 30px;
}
.more_btn {
	padding: 13px 30px;
	border: 1px solid #d5d5d5;
	font-size: 16px;
	color: #FFF;
	background-color: rgba(51, 51, 51, 0.61);
	text-decoration: none;
	outline: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.more_btn:hover {
	color: #FFF;
	background-color: #343F5F;
	cursor: pointer;
}
/*-- //Contact-Ends-Here --*/

/*-- Footer-Starts-Here --*/
.footer {
	background-color: #212121;
}
.footer-info {
	margin-top: 50px;
}
.footer-info h4 {
	color: sienna;
	padding: 20px 0;
	font-weight: 600;
	text-align: left;
}
.footer-info li {
	color: #EEE;
	display: block;
	font-weight: 300;
	font-size: 13px;
	line-height: 25px;
}
.links a {
	color: #EEE;
}
.links a:hover {
	color: #FFF;
	text-decoration: underline;
}
a.mail {
	color: #EEE;
}
a.mail:hover {
	color: #006db7;
}
.footer-info p {
	color: #EEE;
	font-weight: 300;
	font-size: 13px;
	line-height: 23px;
	margin-bottom: 10px;
}
.newsletter {
	position: relative;
}
.newsletter .email {
	padding: 5px 60px 5px 15px;
	font-style: italic;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 40px;
	border: 1px solid #ddd;
	min-width: 100%;
}
.newsletter .email {
	color: #bcc0c4;
	background-color: #565f66;
	border: none;
}
.newsletter .submit {
	width: 40px;
	height: 40px;
	background-image: url('../images/subscribe.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	background-color: sienna;
	top: 0;
	right: 0;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

/*-- Copyright --*/
.copyright {
	text-align: center;
	padding: 30px 0;
	border-top: 1px solid #EEE;
}
.copyright p {
	color: #FFF;
}
.copyright a {
	color: #FFF;
	text-decoration: none;
}
.copyright a:hover {
	color: #006db7;
	text-decoration: underline;
}
/*-- //Copyright --*/

/*-- Go-To-Top-Button --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 15px;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top2.png") no-repeat 0px 0px;
}
/*-- //Go-To-Top-Button --*/
/*-- //Footer-Ends-Here --*/

/*-- Slideanim --*/
.slideanim {}
.slide {
	/* The name of the animation */
	animation-name: slide;
	-webkit-animation-name: slide; 
	/* The duration of the animation */
	animation-duration: 1s; 
	-webkit-animation-duration: 1s;
	/* Make the element visible */
	visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
/*-- //Slideanim --*/

/*-- //Index-Page-Styling --*/

/*-- Responsive Code --*/

@media screen and (max-width:1920px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 60%;
	}
	.slider-grid-bg {
		left: 40%;
	}
	.carousel-control {
		top: 45%;
	}
}

@media screen and (max-width:1680px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 69%;
	}
	.slider-grid-bg {
		left: 39%;
	}
	.carousel-control {
		top: 46.5%;
	}
}

@media screen and (max-width:1600px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 72%;
	}
}

@media screen and (max-width:1440px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 80%;
	}
	.slider-grid-bg {
		left: 37%;
		top: 30%;
	}
}

@media screen and (max-width:1366px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 85%;
	}
	.slider-grid-bg {
		left: 37.5%;
		top: 28%;
	}
}

@media screen and (max-width:1280px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 90%;
	}
	.slider-grid-bg {
		left: 36%;
	}
}

@media screen and (max-width:1024px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 93%;
	}
	ul#cross-effect {
		margin-top: 40px;
	}
	.slider-grid-bg {
		top: 27%;
		left: 35%;
		height: 300px;
		width: 300px;
	}
	.slider-grid-text {
		left: 0px;
		top: 75px;
	}
	.slider-grid-text h5 {
		font-size: 28px;
	}
	.features-item {
		padding: 30px 0 20px;
	}
	.features-info {
		padding-left: 0;
	}
	.about {
		height: 530px;
	}
	.gallery-top figure.effect-bubba h4 {
		padding-top: 9%;
	}
	.testimonial {
		height: 420px;
	}
	.stats {
		height: 580px;
	}
	#about-us {
		padding: 60px 60px;
	}
	p.stats-info {
		margin: 0;
		padding: 0;
	}
	.team-social {
		top: 38%;
		left: 11%;
		width: 77%;
		height: 24%;
		border-radius: 30px;
	}	
	.newsletter .email {
		padding: 5px 40px 5px 10px;
		font-size: 13px;
	}
	.newsletter .submit {
		width: 35px;
	}
}

@media screen and (max-width:991px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 80%;
	}
	.navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
	.logo {
		height: 80px;
		width: 80px;
	}
	.navbar-inverse .navbar-brand {
		left: -10px;
		top: 10px;
		font-size: 20px;
	}
	.features {
		padding-bottom: 50px;
	}
	.feature1 {
		margin-bottom: 15px;
		width: 50%;
	}
	.features-info {
		padding-left: 20px;
	}
	.about {
		height: 585px;
	}
	.about p {
		padding: 0;
	}
	.gallery-top {
		width: 33%;
		display: inline-table;
	}
	.gallery-top figure.effect-bubba h4 {
		padding-top: 0%;
	}
	.testimonial p {
		padding: 0;
	}
	.num1 .num-rotate {
		width: 75px;
		height: 75px;
		left: 15%;
	}
	.num1 .num-rotate:before {
		right: 45px;
	}
	.num1 .numscroller {
		top: 25px;
		left: 30px;
	}
	.num1 h4 {
		font-size: 18px;
	}
	.stats {
		height: 610px;
	}
	.stats p {
		padding: 0;
	}
	#about-us {
		padding: 60px 25px;
	}
	.team {
		height: 460px;
	}
	.team-social {
		top: 38%;
		left: 18%;
		width: 66%;
		height: 22%;
	}
	ul.social-icons li a {
		display: inline-block;
		width: 30px;
		height: 30px;
		background: url("../images/img-sprite.png") no-repeat 0px 0px;
		background-size: 200px;
	}
	ul.social-icons li a.facebook:hover {
		background-position: 0px -33px;
	}
	ul.social-icons li a.twitter {
		background-position: -35px 0px;
	}
	ul.social-icons li a.twitter:hover {
		background-position: -35px -33px;
	}
	ul.social-icons li a.googleplus {
		background-position: -69px 0px;
	}
	ul.social-icons li a.googleplus:hover {
		background-position: -69px -33px;
	}
	ul.social-icons li a.instagram {
		background-position: -102px 0px;
	}
	ul.social-icons li a.instagram:hover {
		background-position: -102px -33px;
	}
	ul.social-icons li a.youtube {
		background-position: -135px 0px;
	}
	ul.social-icons li a.youtube:hover {
		background-position: -135px -33px;
	}
	.team h4 {
		font-size: 23px;
	}
	.footer-info li {
		line-height: 21px;
	}
	.newsletter .email {
		padding: 5px 40px 5px 10px;
		font-size: 13px;
		width: 110%;
	}
	.newsletter .submit {
		width: 35px;
		right: -15px;
	}
}

@media screen and (max-width:966px) {
	.feature1 {
		margin-bottom: 0px;
		width: 50%;
	}
	.features {
		padding-bottom: 50px;
	}
	.features-info {
		padding-left: 20px;
	}
	.about p {
		padding: 0;
	}
	.testimonial {
		height: 420px;
	}
	.gallery-grids h4 {
		font-size: 20px;
	}
	.num1 .num-rotate {
		width: 80px;
		height: 80px;
		left: 18%;
	}
	.num1 .num-rotate:before {
		top: 0px;
		right: 55px;
		border-width: 0 25px 25px 0;
	}
	.team h4 {
		font-size: 23px;
	}
	.map iframe {
		height: 300px;
	}
	.contact {
		height: 540px;
	}
	.footer-info li {
		font-size: 12px;
	}
	.address li {
		line-height: 20px;
	}
	.footer-info p {
		font-size: 12px;
	}
	.newsletter .email {
		width: 110%;
	}
	.newsletter .submit {
		right: -15px;
	}
}

@media screen and (max-width:853px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 90%;
	}
	ul#cross-effect {
		margin-top: 30px;
	}
	.slider-grid-bg {
		top: 29%;
		left: 35%;
		height: 250px;
		width: 250px;
	}
	.slider-grid-text {
		left: 20px;
		top: 60px;
	}
	.slider-grid-text h5 {
		font-size: 22px;
	}
	.slider-grid-text p {
		font-size: 13px;
		margin-top: 15px;
	}
}

@media screen and (max-width:800px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 92%;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.slider-grid-bg {
		top: 27.5%;
	}
	.testimonial {
		height: 420px;
	}
	.testimonial p {
		padding: 0;
	}
}

@media screen and (max-width:768px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 95%;
	}
	.logo {
		margin-left: 25px;
	}
	ul#cross-effect {
		margin-top: 20px;
	}
	.slider-grid-bg {
		top: 26.5%;
		left: 33%;
	}
	.features h2, .features h3 {
		font-size: 25px;
	}
	.about {
		height: 580px;
	}
	.team {
		height: 420px;
	}
	h1, .about h3, .portfolio h3, .testimonial h3, .skills h3, .stats h3, .clients h3, .team h3, .contact h3 {
		font-size: 35px;
		margin: 40px auto 0;
	}
}

@media screen and (max-width:736px) {
	.navbar-toggle {
		margin-right: 0;
		margin-top: 26px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border: none;
		box-shadow: none;
		width: 72%;
		position: absolute;
		top: 19px;
		right: 45px;
		padding: 0;
	}
	ul#cross-effect {
		width: 97%;
		float: right;
		text-align: center;
		display: -webkit-inline-box;
		padding: 0;
		margin: 0;
	}
	.nav>li {
		height: 50px;
		margin-top: 5px;
	}
	.nav>li>a {
		padding: 10px 12px;
	}
	.slider-grid-bg {
		height: 225px;
		width: 225px;
		top: 28.5%;
		left: 34%;
	}
	.slider-grid-text {
		left: 15px;
		top: 45px;
	}
	.slider-grid-text h5 {
		font-size: 20px;
	}
	.heading-underline {
		margin-bottom: 30px;
	}
	.img-grid {
		padding: 10px;
		width: 33%;
		float: left;
	}
	.about {
		height: 550px;
	}
	.portfolio {
		padding-bottom: 20px;
	}
	.gallery-top {
		width: 32%;
	}
	.gallery-grids h4 {
		font-size: 18px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 26px;
	}
	.testimonial {
		height: 420px;
	}
	.skills-numbers {
		margin-top: 60px;
		padding: 0 30px;
	}
	.stats {
		height: 570px;
	}
	.stats-grid {
		width: 25%;
		float: left;
	}
	.team-grid {
		width: 25%;
		float: left;
	}
	.team-social {
		top: 38%;
		left: 16%;
		width: 69%;
		height: 23%;
	}
	.team {
		height: 410px;
	}
	.team h4 {
		font-size: 22px;
	}
	.map iframe {
		height: 250px;
	}
	.contact {
		height: 470px;
	}
	.c1 {
		width: 50%;
		float: left;
		padding: 0 5px;
	}
	a.more_btn {
		font-size: 13px;
	}
	.footer-info {
		margin-top: 20px;
	}
	.footer-info-grid {
		width: 25%;
		float: left;
	}
	.address li {
		line-height: 18px;
	}
}

@media screen and (max-width:667px) {
	.logo {
		height: 60px;
		width: 60px;
		margin-top: 20px;
		margin-left: 5px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		width: 72%;	
	}
	.navbar-inverse .navbar-brand {
		left: -15px;
		top: 0px;
		font-size: 16px;
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 12px;
	}
	.slider-grid-bg {
		top: 26.5%;
		left: 33%;
	}
	.slider-grid-text {
		left: 17px;
	}
	.nav-diamond a {
		margin: 0;
	}
	.features-item {
		padding: 30px 0 10px;
	}
	.features-info {
		padding-left: 0;
	}
	.features-item p {
		font-size: 13px;
	}
	.about {
		height: 500px;
	}
	.about p {
		font-size: 13px;
		line-height: 30px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 18px;
	}
	.testimonial {
		height: 400px;
	}
	.testimonial p {
		font-size: 13px;
		line-height: 30px;
	}
	.skills p {
		font-size: 13px;
		line-height: 30px;
	}
	.num1 .num-rotate {
		width: 65px;
		height: 65px;
		left: 20%;
	}
	.num1 .num-rotate:before {
		right: 45px;
		border-width: 0 20px 20px 0;
	}
	.num1 .numscroller {
		top: 20px;
		left: 25px;
		font-size: 20px;
	}
	.num1 h4 {
		font-size: 18px;
	}
	.stats p {
		font-size: 13px;
		line-height: 30px;
	}
	.stats-img img {
		width: 80px;
	}
	.stats {
		height: 535px;
	}
	.team {
		height: 385px;
	}
	.team-social {
		left: 10%;
		width: 78%;
		height: 27%;
	}
	.team h4 {
		font-size: 18px;
	}
	.contact {
		height: 465px;
	}
	.address li {
		line-height: 21px;
	}
}

@media screen and (max-width:640px) {
	.navbar-toggle {
		margin-right: 0px;
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 11px;
	}
	.slider-grid-bg {
		top: 25.5%;
		left: 32%;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 15px;
		font-size: 16px;
	}
	#about-us {
		padding: 30px;
	}
	#about-us .lead {
		margin-top: 15px;
	}
	.team {
		height: 380px;
	}
	.team-social {
		top: 37%;
		left: 9%;
		width: 83%;
		height: 27%;
	}
	.contact {
		height: 430px;
	}
	.contact_form input[type='text'] {
		padding: 10px 17px 10px;
		height: 35px;
	}
	.contact_form textarea {
		height: 145px;
	}
	.footer-info p {
		line-height: 18px;
	}
	.address li {
		line-height: 20px;
	}
}

@media screen and (max-width:603px) {
	.nav>li>a {
		padding: 10px;
	}
	.slider-grid-bg {
		height: 200px;
		width: 200px;
		top: 27.5%;
		left: 33%;
	}
	.slider-grid-text {
		left: 10px;
		top: 40px;
	}
	.slider-grid-text h5 {
		font-size: 18px;
	}
	.slider-grid-text p {
		font-size: 12px;
		margin-top: 10px;
		line-height: 25px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 13px;
		font-size: 14px;
	}
	.testimonial {
		height: 360px;
	}
	.num1 .num-rotate {
		width: 55px;
		height: 55px;
		left: 20%;
	}
	.num1 .num-rotate:before {
		right: 35px;
	}
	.num1 h4 {
		font-size: 16px;
	}
	.num1 .numscroller {
		top: 15px;
		left: 20px;
	}
	.stats {
		height: 535px;
	}
	.stats-img img {
		width: 70px;
	}
	.footer-info h4 {
		font-size: 17px;
	}
	.team-grid {
		padding: 0;
	}
	.team-social {
		top: 38%;
		left: 15%;
		width: 70%;
		height: 24%;
	}
}

@media screen and (max-width:600px) {
	.about {
		height: 520px;
	}
	.stats-img img {
		width: 70px;
	}
	p.stats-info {
		font-size: 12px;
	}
	.team-social {
		top: 38%;
		left: 14%;
		width: 71%;
		height: 23%;
	}
}

@media screen and (max-width:568px) {
	.navbar-toggle {
		padding: 5px;
	}
	ul#cross-effect {
		width: 94%;
	}
	.nav>li>a {
		padding: 8px;
	}
	.nav-diamond .left-arrow, .right-arrow {
		width: 45px;
		height: 45px;
		background-size: 40px;
	}
	.nav-diamond .right-arrow {
		background-size: 40px;
	}
	.slider-grid-bg {
		top: 23%;
		left: 32%;
	}
	.heading-underline {
		width: 15%;
	}
	.features h2, .features h3 {
		font-size: 20px;
		line-height: 40px;
	}
	.features-icon img {
		padding-top: 15px;
	}
	.features-item h4 {
		font-size: 18px;
	}
	.about {
		height: 540px;
	}
	.tabs-style-bar nav ul li a span {
		font-size: 12px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 10px;
	}
	.testimonial {
		height: 400px;
	}
	.skills-numbers {
		margin-top: 50px;
	}
	.num1 h4 {
		font-size: 14px;
	}
	.num1 .numscroller {
		top: 16px;
		left: 18px;
	}
	.stats {
		height: 530px;
	}
	p.stats-info {
		padding: 0;
		margin-top: 15px;
		line-height: 20px;
		font-size: 13px;
		font-weight: 100;
	}
	.clients {
		padding-bottom: 40px;
	}
	.team {
		height: 700px;
	}
	.team-grid {
		width: 50%;
		padding: 20px 0;
	}
	.team-image img {
		width: 75%;
		margin-left: 12%;
	}
	.team h4 {
		margin-top: 15px;
	}
	.team-social {
		top: 42%;
		left: 30%;
		width: 38%;
		height: 17%;
	}
	.map iframe {
		height: 200px;
	}
	.contact {
		height: 420px;
	}
	.message {
		margin-bottom: 20px;
	}
	.footer-info-grid {
		width: 50%;
		margin-bottom: 20px;
	}
	.address li {
		line-height: 25px;
	}
	.newsletter .email {
		width: 105%;
	}
	.footer-info p {
		line-height: 23px;
	}
}

@media screen and (max-width:533px) {
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		width: 50%;
		background-color: #333;
	}
	ul#cross-effect {
		width: 100%;
		display: block;
	}
	.nav>li {
		height: 40px;
		margin: 0;
	}
	.navbar-inverse .navbar-nav>li>a:hover {
		color: #FFF;
		background-color: rgba(171, 171, 171, 0.46);
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 13px;
	}
	.cross-effect a::before, .cross-effect a::after {
		position: inherit;
	}
	.slider-grid-bg {
		height: 190px;
		width: 190px;
	}
	.slider-grid-text {
		left: 15px;
		top: 37px;
	}
	.features-item h4 {
		font-size: 17px;
	}
	.tabs-style-bar nav ul li a span {
		letter-spacing: 0;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 8px;
		font-size: 12px;
	}
	.skills p {
		padding-top: 30px;
	}
	.num1 .num-rotate {
		width: 50px;
		height: 50px;
	}
	.num1 .num-rotate:before {
		right: 30px;
	}
	.team-social {
		top: 40%;
		left: 28%;
		width: 41%;
		height: 18%;
	}
}

@media screen and (max-width:480px) {
	.navbar-toggle {
		margin-right: 5px;
		margin-top: 19px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		right: 50px;
	}
	.slider-grid-bg {
		top: 15%;
		left: 30%;
	}
	.carousel-control {
		top: 41.5%;
	}
	.features-item {
		padding: 40px 0 10px;
	}
	.features-item h4 {
		font-size: 15px;
	}
	.about {
		height: 570px;
	}
	.gallery-grids figure figcaption {
		top: -14px;
		left: -14px;
		width: 125%;
		height: 135%;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 13px;
		font-size: 14px;
	}
	.testimonial {
		height: 420px;
	}
	.skills-numbers {
		padding: 0;
	}	
	.stats .numscroller {
		font-size: 30px;
	}
	.num1 h4 {
		margin-top: 35px;
	}
	.num1 .numscroller {
		top: 15px;
		left: 15px;
	}
	.stats-info {
		margin-top: 25px;
	}
	.clients .heading-underline {
		margin-bottom: 50px;
	}
	.team {
		height: 645px;
	}
	.team-social {
		top: 40%;
		left: 27%;
		width: 45%;
		height: 21%;
	}
}

@media screen and (max-width:414px) {
	.heading-underline {
		width: 20%;
	}
	.slider-grid-bg {
		height: 170px;
		width: 170px;
		top: 16.5%;
		left: 28.5%;
	}
	.slider-grid-text {
		left: 5px;
		top: 40px;
	}
	.slider-grid-text h5 {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.slider-grid-text p {
		font-size: 11px;
		margin-top: 10px;
		line-height: 18px;
	}
	.carousel-inner>.item>img {
		height: 250px;
	}
	h1, .about h3, .portfolio h3, .testimonial h3, .skills h3, .stats h3, .clients h3, .team h3, .contact h3 {
		font-size: 30px;
		margin: 30px auto 0;
	}
	.features h2, .features h3 {
		font-size: 18px;
	}
	.features p {
		font-size: 14px;
	}
	.feature1 {
		width: 100%;
	}
	.features-icon img {
		padding-top: 0;
	}
	.features-info {
		padding-left: 20px;
	}
	.features-item {
		padding: 20px 0 10px;
	}
	.features-info {
		padding-left: 20px;
		padding-top: 10px;
	}
	.about {
		height: 650px;
	}
	.portfolio {
		padding-bottom: 20px;
	}
	.portfolio h4 {
		margin: 20px 0;
	}
	.gallery-top {
		width: 48%;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 26px;
	}
	.img-grid {
		width: 100%;
	}
	.testimonial {
		height: 430px;
	}
	.num1 {
		width: 33%;
		margin-bottom: 50px;
	}
	.num1 .num-rotate {
		width: 70px;
		height: 70px;
		left: 22%;
	}
	.num1 .num-rotate:before {
		right: 40px;
		border-width: 0 30px 30px 0;
	}
	.num1 .numscroller {
		top: 25px;
		left: 27px;
	}
	#about-us {
		padding: 0 30px 20px;
	}
	#about-us .lead {
		margin-top: 0;
	}
	.skills p {
		padding-top: 0;
	}
	.stats {
		height: 500px;
	}
	.stats-img img {
		width: 60px;
	}
	.stats .numscroller {
		font-size: 25px;
	}
	.team-social {
		top: 39%;
		left: 23%;
		width: 54%;
		height: 24%;
	}
	.team {
		height: 570px;
	}
	.contact {
		height: 400px;
	}
	.contact_form input[type='text'] {
		padding: 10px;
	}
	.address li {
		line-height: 20px;
	}
	.footer-info {
		margin-top: 20px;
	}
	.footer-info p {
		line-height: 21px;
	}
}

@media screen and (max-width:384px) {
	.slider-grid-bg {
		left: 26.5%;
	}
	.features h2, .features h3 {
		font-size: 16px;
	}
	.features-info {
		padding-left: 10px;
	}
	.about {
		height: 670px;
	}
	.tabs-style-bar nav ul li a span {
		font-size: 10px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 22px;
	}
	.stats {
		height: 530px;
	}
	.team {
		height: 590px;
	}
	.team-image img {
		width: 90%;
		margin-left: 5%;
	}
	.team-social {
		top: 40%;
		left: 20%;
		width: 58%;
		height: 21%;
	}
}

@media screen and (max-width:375px) {
	.testimonial {
		height: 460px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 20px;
	}
	.team-social {
		top: 39%;
		width: 60%;
		height: 22%;
	}
}

@media screen and (max-width:360px) {
	.slider-grid-bg {
		left: 25.5%;
	}
	.features h2, .features h3 {
		font-size: 15px;
	}
	.features-item {
		padding: 20px 0 0px;
	}
	.features-info {
		padding-left: 5px;
		padding-top: 5px;
	}
	.about {
		height: 700px;
	}
	h4.slideanim.slide {
		line-height: 30px;
	}
	.num1 .num-rotate {
		left: 18%;
	}
	.stats .numscroller {
		font-size: 23px;
	}
	.team-image img {
		width: 100%;
		margin-left: 0%;
	}
	.team-social {
		left: 18%;
		width: 63%;
		height: 21%;
	}
}

@media screen and (max-width:320px) {
	.slider-grid-bg {
		left: 22%;
	}
	.features h2, .features h3 {
		font-size: 17px;
		line-height: 35px;
	}
	.features-icon img {
		padding-top: 16px;
	}
	.about p {
		padding: 0 10px;
		font-size: 12px;
		line-height: 25px;
	}
	.about {
		height: 675px;
	}
	.portfolio h3, .clients h3, .team h3 {
		font-size: 27px;
	}
	.gallery-grids figure figcaption {
		top: -16px;
		left: -19px;
		width: 140%;
		height: 150%;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 13px;
	}
	.testimonial {
		height: 520px;
	}
	.num1 {
		width: 50%;
	}
	.num1 .num-rotate {
		left: 25%;
	}
	.stats {
		height: 540px;
	}
	.stats-img img {
		width: 50px;
	}
	.stats .numscroller {
		font-size: 20px;
		text-indent: -5px;
	}
	p.stats-info {
		margin-left: -5px;
	}
	.team-social {
		left: 14%;
		width: 72%;
		height: 23%;
	}
	.team {
		height: 565px;
	}
	.contact {
		height: 540px;
	}
	.c1 {
		width: 100%;
	}
	.footer-info p {
		line-height: 25px;
	}
}

/*-- //Responsive Code --*/