<!DOCTYPE html>
<html data-ng-app="main">
<head>

<title>Peluqueria | Indumentaria</title>

<!-- Angular Scripts -->
<!--        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>-->
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/admin/controllers.js"></script>
        <script type="text/javascript" src="js/admin/gallery-controller.js"></script>
        <script type="text/javascript" src="js/ngGallery.js"></script>
        <script type="text/javascript" src="js/angular-gridify.js"></script>
        <script type="text/javascript" src="js/admin/admin.js"></script>
                
<!-- For-Mobile-Apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps -->

<!-- Custom-Theme-Files -->
	<!-- Bootstrap-Core-CSS --> <link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Style.CSS -->          <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Owl-Carousel-CSS -->   <link href="css/owl.carousel.css" rel="stylesheet">
	<!-- Swipe-Box-CSS -->      <link rel="stylesheet" href="css/swipebox.css">
	<!-- Animate-CSS -->        <link href="css/animate.min.css" rel="stylesheet">
        
        <!-- Gallery -->            <link rel="stylesheet" type="text/css" href="css/ngGallery.css">
        <!-- My Gallery -->         <link rel="stylesheet" type="text/css" href="css/gallery.css">

<!-- //Custom-Theme-Files -->

<script>
	$(function() {
		$(".meter > span").each(function() {
			$(this)
			.data("origWidth", $(this).width())
			.width(0)
			.animate({
				width: $(this).data("origWidth")
			}, 1200);
		});
	});
</script>

<!-- Web-Fonts -->
	<link href='//fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<!-- //Web-Fonts -->

</head>
<body data-ng-controller="SectionManagerCtrl">
    
	<!-- Header -->
        <div class="header">
            
            <div class="container">

                <!-- Navigation -->
                <nav class="navbar navbar-inverse navbar-default">
                    
                    <div class="navbar-header">
                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Logo -->
                        <div class="logo">
                            <a class="navbar-brand button" href="#">.mano libre.</a>
                        </div>
                        <!-- //Logo -->
                    </div>
                    
<!--                        <div class="navbar-header">
                            <iframe src="https://embed.spotify.com/?uri=spotify:album:2dhJF5kTBNBjyzM1y3nISh" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
                        </div>-->
                    
                    <div id="navbar" class="navbar-collapse navbar-right collapse">
                        <ul class="nav navbar-nav navbar-right cross-effect" id="cross-effect">
                            <li><a class="cross-effect" href="#about_us" 
                                   data-ng-click="setGeneralSection()">Sobre nosotros</a></li>
                            <li><a class="cross-effect" href="#barber-gallery" 
                                   data-ng-click="setBarberSection()">Barbería</a></li>
                            <li><a class="cross-effect" href="#old-store-gallery" 
                                   data-ng-click="setStoreSection()">Old Store</a></li>
                            <li><a class="cross-effect" href="#bar-gallery" 
                                   data-ng-click="setBarSection()">Mini Bar</a></li>
<!--                            <li><a class="cross-effect" href="#video-section" 
                                   data-ng-click="setVideosSection()">Videos</a></li>-->
                            <li><a class="cross-effect" href="#contact"
                                   data-ng-click="setContactSection()">Contacto</a></li>
                        </ul>
                    </div>
                    <!-- //Navbar-Collapse -->
                </nav>
                <!-- //Navigation -->
            </div>

            <!-- Content -->
            <div class="content">
                <div class="header-banner"></div>

                
                <!-- Sobre nosotros! -->                
                <div id="about_us" ng-show="isHomeVisible">
                    <pelu-local-carousel></pelu-local-carousel>
                
                    <mano-banner></mano-banner>
                    
                    <!-- Sobre la Peluquería -->
                    <about-peluqueria></about-peluqueria>
                    <about-local></about-local>

                    <mano-banner></mano-banner>
                </div>
                
                <!-- Galería Barber -->
                <div id="barber-gallery" ng-show="isBarberVisible">
                    <gallery-test  ng-controller="GalController as galCtrl"></gallery-test>
                    <!--<en-construccion></en-construccion>-->
                </div>

                <!-- Galería Old Store -->
                <div id="old-store-gallery"  ng-show="isStoreVisible" data-ng-controller="GalleryCtrl as galleryCtrl">
                    <store-gallery></store-gallery>
                </div>
                
                <!-- Galería Bar Spot -->
                <div id="bar-gallery" ng-show="isBarVisible">
                    <en-construccion></en-construccion>
                </div>
                
                <!-- Videos Section -->
                <div id="video-section" ng-show="isVideosVisible">
                    <en-construccion></en-construccion>
                </div>

                <!-- Contacto -->
                <div class="contact" ng-show="isContactVisible">
                    <pelo-contact></pelo-contact>
                </div>
    
            </div>
            <!-- //Content -->
        </div>
         
        <!-- Footer -->
        <div class="footer">
            <div class="container">

                <div class="footer-info slideanim">
                    <div class="col-md-3 col-sm-3 footer-info-grid links">
                        <h4>SHORTCUTS</h4>
                        <ul>
                            <li><a href="#about_us"
                                   data-ng-click="setGeneralSection()">· sobre nosotros ·</a></li>
                            <li><a href="#barber-gallery"
                                   data-ng-click="setBarberSection()">· barber ·</a></li>
                            <li><a href="#old-store-gallery"
                                   data-ng-click="setStoreSection()">· old store ·</a></li>
                            <li><a href="#bar-gallery"
                                   data-ng-click="setBarSection()">· bar spot ·</a></li>
<!--                            <li><a href="#video-section"
                                   data-ng-click="setVideosSection()">· videos ·</a></li>-->
                            <li><a href="#contact"
                                   data-ng-click="setContactSection()">· contact ·</a></li>
                        </ul>                 
                    </div>

                    <div class="col-md-3 col-sm-3 footer-info-grid address">
                        <h4>DIRECCION</h4>
                        <address>
                            <ul>
                                <li>Calle N. Videla</li>
                                <li>144 Quilmes Oeste</li>
                                <li>Buenos Aires, Argentina</li>
                                <li>Teléfono : +54 ...</li>
                            </ul>
                            <p>Email : <a class="mail" href="mailto:mail@example.com">local@pelo.com</a></p>
                        </address>
                    </div>
                    <div class="col-md-3 col-sm-3 footer-info-grid email">
                        <h4>NEWSLETTER</h4>
                        <p>Subscripción a un newsletter con información, promociones, llegada de nueva indumentaria, etc.
                        </p>

                        <form class="newsletter">
                            <input class="email" type="email" placeholder="Dejanos tu e-mail...">
                            <input type="submit" class="submit" value="">
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>

                    <div class="copyright slideanim">
                        <p>&copy; 2016  | Diseñado <a href=""></a></p>
                    </div>

            </div> 
        </div>
        <!-- //Footer -->                


<!-- Custom-JavaScript-File-Links -->

<!--        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->

	<!-- Supportive-JavaScript -->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/ui-bootstrap-1.3.3.min.js"></script>

        <!-- Slideanim-JavaScript -->
	<script type="text/javascript">
		$(window).scroll(function() {
	 		$(".slideanim").each(function(){
				var pos = $(this).offset().top;
				var winTop = $(window).scrollTop();
					if (pos < winTop + 600) {
					$(this).addClass("slide");
				}
			});
		});
	</script>
	<!-- //Slideanim-JavaScript -->

	<!-- Gallery-Tab-JavaScript -->
	<script src="js/cbpFWTabs.js"></script>
	<script>
		(function() {
			[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
				new CBPFWTabs( el );
			});
		})();
	</script>
	<!-- //Gallery-Tab-JavaScript -->

	<!-- Swipe-Box-JavaScript -->
		<script src="js/jquery.swipebox.min.js"></script> 
			<script type="text/javascript">
				jQuery(function($) {
					$(".swipebox").swipebox();
				});
		</script>
	<!-- //Swipe-Box-JavaScript -->

        <!-- Owl-Carousel-JavaScript -->
	<script src="js/owl.carousel.js"></script>
	<script>
		$(document).ready(function() {
			$("#owl-demo").owlCarousel ({
				items : 7,
				lazyLoad : true,
				autoPlay : true,
				speed: 900,
				pagination : false,
			});
		});
	</script>
	<!-- //Owl-Carousel-JavaScript -->

	<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
	<script type="text/javascript">
		$(document).ready(function() {
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 100,
				easingType: 'linear'
			};
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
	<!-- //Slide-To-Top JavaScript -->

	<!-- Smooth-Scrolling-JavaScript -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll, .navbar li a, .footer li a").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //Smooth-Scrolling-JavaScript -->

	<!-- Skills-Animation-JavaScript -->
	<script type="text/javascript" src="js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/mousescroll.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<!-- //Skills-Animation-JavaScript -->

	<script type="text/javascript" src="js/numscroller-1.0.js"></script>

<!-- //Custom-JavaScript-File-Links -->

</body>
</html>