<!-- Contact -->
<div class="contact" id="contact">
    <div class="container">

        <h3 class="contact_title">Contacto</h3>

        <form class="contact_form slideanim">

            <div class="message">
                <div class="col-md-6 col-sm-6 grid_6 c1">
                    <input type="text" class="text" value="Nombre" placeholder="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nombre';}">
                    <input type="text" class="text" value="Email" placeholder="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                    <input type="text" class="text" value="Teléfono" placeholder="Teléfono" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Teléfono';}">
                </div>

                <div class="col-md-6 col-sm-6 grid_6 c1">
                    <textarea placeholder="Mensaje" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mensaje';}">Mensaje</textarea>
                </div>
                <div class="clearfix"></div>
            </div>

            <input type="submit" class="more_btn" value="Enviar">
        </form>
        <!-- <pelo-maps></pelo-maps> -->
        
    </div>
</div>
<!-- //Contact -->