<div class="about-store about" id="about-local">
    <div class="container about-store-container">

            <h3 class="slideanim">Seccion en construccion</h3>
            <a data-ng-click="setGeneralSection()">· Volver ·</a>
    </div>
</div>