<!-- Portfolio Local de ropa -->

<div class="container barber-container" id="about-pelu">
    
    <div class="barber-container-about about pos-right">

            <h3 class="slideanim">Barbería</h3>
            <br>
    </div>
    
    
<!--    <div class="gal-thumbs-container pos-left row">

        <a class="gal-thumb-holder col-md-3 col-sm-3 col-xs-3 col-lg-3" data-ng-repeat="image in imagesRepo">
            <img class="gal-thumb" data-ng-src="{{image.src}}" ng-click="showImage()" />
        </a>
    </div>-->




</div>

<!-- About Local de ropa -->

    