<!-- Owl-Carousel-CSS -->
<link rel="stylesheet" href="../css/owl.carousel.css" type="text/css"/>


<!-- Owl-Carousel-JavaScript -->
<script src="../js/owl.carousel.js"></script>
<script>
        $(document).ready(function() {
                $("#owl-demo").owlCarousel ({
                        items : 4,
                        lazyLoad : true,
                        autoPlay : true,
                        speed: 900,
                        pagination : false,
                });
        });
</script>
<!-- //Owl-Carousel-JavaScript -->


<!-- Marcas -->
<div class="clients">
        <div class="container">

                <h3>Marcas que vas a encontrar</h3>
                <div class="heading-underline"></div>

                <!-- Screen-Gallery-Carousel -->
                <div id="owl-demo" class="owl-carousel text-center slideanim">
                        <div class="item">
                                <img class="lazyOwl" src="../images/brand_allstar.png" alt="allStar">
                        </div>
                        <div class="item">
                                <img class="lazyOwl" src="images/brand_allstar.png" alt="allStar">
                        </div>
                        <div class="item">
                                <img class="lazyOwl" src="images/brand_allstar.png" alt="allStar">
                        </div>
                        <div class="item">
                                <img class="lazyOwl" src="images/brand_allstar.png" alt="allStar">
                        </div>
                        <div class="item">
                                <img class="lazyOwl" src="images/brand_allstar.png" alt="allStar">
                        </div>
                        <div class="item">
                                <img class="lazyOwl" src="images/brand_allstar.png" alt="allStar">
                        </div>
                        <div class="item">
                                <img class="lazyOwl" src="images/brand_allstar.png" alt="allStar">
                        </div>
                        <div class="item">
                                <img class="lazyOwl" src="images/brand_allstar.png" alt="allStar">
                        </div>
                        <div class="item">
                                <img class="lazyOwl" src="images/brand_allstar.png" alt="allStar">
                        </div>
                        <div class="item">
                                <img class="lazyOwl" src="images/brand_allstar.png" alt="allStar">
                        </div>
                </div>
                <!-- //Screen-Gallery-Carousel -->

        </div>
</div>
<!-- //Marcas -->