<!-- Map-iFrame -->

<div class="map slideanim">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7799.519095788556!2d-58.26168586516649!3d-34.72298742942198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDQzJzE1LjgiUyA1OMKwMTUnMzUuMCJX!5e0!3m2!1ses!2sar!4v1462740901915" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
