<!-- Equipo -->
<div class="team" id="team">
    <div class="container">

        <h3>Acerca nuestro</h3>
        <div class="heading-underline"></div>
        
        <div class="col-md-3 col-sm-3 team-grid slideanim">
            <div class="team-image">
                <img src="images/sample_team.png" alt="team1">
                <div class="team-social">
                    <ul class="social-icons">
                        <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
                        <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
                        <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
                    </ul>
                </div>
            </div>
            <h4>Un nombre</h4>
        </div>

        <div class="col-md-3 col-sm-3 team-grid slideanim">
            <div class="team-image">
                <img src="images/sample_team.png" alt="team2">
                <div class="team-social">
                    <ul class="social-icons">
                        <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
                        <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
                        <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
                    </ul>
                </div>
            </div>
            <h4>Un nombre</h4>
        </div>

    </div>
</div>
<!-- Equipo -->