<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="images/slider/1.jpg" alt="ManoLibre">
            <div class="slider-grid-bg">
                    <div class="slider-grid-text">
                            <h5>BARBER</h5>
                            <div class="border"></div>
                            <p>· Peluquería & Bar · since 2001 · mano libre ·</p>
                    </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="images/slider/2.jpg" alt="ManoLibre">
            <div class="slider-grid-bg">
                    <div class="slider-grid-text">
                            <h5>OLD STORE</h5>
                            <div class="border"></div>
                            <p>· Indumentaria · since 2016 · mano libre ·</p>
                    </div>
            </div>
        </div>

    </div>

    <nav class="nav-diamond">
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="icon-wrap" aria-hidden="true"></span>
                <div class="left-arrow">
                        <img src="images/hover-left.png" alt=""/>
                </div>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="icon-wrap" aria-hidden="true"></span>
                <div class="right-arrow">
                        <img src="images/hover-right.png" alt=""/>
                </div>
        </a>
    </nav>

</div>
<!-- //Carousel -->