

<link rel="stylesheet" type="text/css" href="bower_components/src/css/ngGallery.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script type="text/javascript" src="bower_components/src/js/ngGallery.js"></script>



<!--<div class="portfolio" id="portfolio-local">
        <div class="container">

                <h3>Old Store</h3>
                <div class="heading-underline"></div>

                <div class="tabs tabs-style-bar slideanim">
                        <nav>
                                <ul>
                                        <li><a href="#section-bar-1" class="icon icon-box"><span>Remeras</span></a></li>
                                        <li><a href="#section-bar-2" class="icon icon-display"><span>Pantalones</span></a></li>
                                        <li><a href="#section-bar-3" class="icon icon-upload"><span>Gorros</span></a></li>
                                        <li><a href="#section-bar-4" class="icon icon-tools"><span>Zapatillas</span></a></li>
                                </ul>
                        </nav>

                        <div class="content-wrap">

                                 Tab-1 
                                <section id="section-bar-1" class="slideanim">
                                        <h4>Remeras</h4>
                                        <div class="gallery-grids">
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_remeras.jpg" class="swipebox">
                                                                        <img src="images/sample_remeras.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_remeras.jpg" class="swipebox">
                                                                        <img src="images/sample_remeras.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_remeras.jpg" class="swipebox">
                                                                        <img src="images/sample_remeras.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_remeras.jpg" class="swipebox">
                                                                        <img src="images/sample_remeras.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_remeras.jpg" class="swipebox">
                                                                        <img src="images/sample_remeras.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_remeras.jpg" class="swipebox">
                                                                        <img src="images/sample_remeras.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_remeras.jpg" class="swipebox">
                                                                        <img src="images/sample_remeras.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_remeras.jpg" class="swipebox">
                                                                        <img src="images/sample_remeras.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_remeras.jpg" class="swipebox">
                                                                        <img src="images/sample_remeras.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="clearfix"> </div>
                                        </div>
                                </section>
                                 //Tab-1 

                                 Tab-2 
                                <section id="section-bar-2" class="slideanim">
                                        <h4>Pantalones</h4>
                                        <div class="gallery-grids">
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_jeans.jpg" class="swipebox">
                                                                        <img src="images/sample_jeans.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_jeans.jpg" class="swipebox">
                                                                        <img src="images/sample_jeans.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_jeans.jpg" class="swipebox">
                                                                        <img src="images/sample_jeans.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_jeans.jpg" class="swipebox">
                                                                        <img src="images/sample_jeans.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_jeans.jpg" class="swipebox">
                                                                        <img src="images/sample_jeans.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_jeans.jpg" class="swipebox">
                                                                        <img src="images/sample_jeans.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_jeans.jpg" class="swipebox">
                                                                        <img src="images/sample_jeans.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_jeans.jpg" class="swipebox">
                                                                        <img src="images/sample_jeans.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_jeans.jpg" class="swipebox">
                                                                        <img src="images/sample_jeans.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="clearfix"> </div>
                                        </div>
                                </section>
                                 //Tab-2 

                                 Tab-3 
                                <section id="section-bar-3" class="slideanim">
                                        <h4>Gorros</h4>
                                        <div class="gallery-grids">
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_gorro.jpg" class="swipebox">
                                                                        <img src="images/sample_gorro.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_gorro.jpg" class="swipebox">
                                                                        <img src="images/sample_gorro.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_gorro.jpg" class="swipebox">
                                                                        <img src="images/sample_gorro.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_gorro.jpg" class="swipebox">
                                                                        <img src="images/sample_gorro.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_gorro.jpg" class="swipebox">
                                                                        <img src="images/sample_gorro.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_gorro.jpg" class="swipebox">
                                                                        <img src="images/sample_gorro.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_gorro.jpg" class="swipebox">
                                                                        <img src="images/sample_gorro.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_gorro.jpg" class="swipebox">
                                                                        <img src="images/sample_gorro.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_gorro.jpg" class="swipebox">
                                                                        <img src="images/sample_gorro.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="clearfix"> </div>
                                        </div>
                                </section>
                                 //Tab-3 

                                 Tab-4 
                                <section id="section-bar-4" class="slideanim">
                                        <h4>Zapatillas</h4>
                                        <div class="gallery-grids">
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_zapas.jpg" class="swipebox">
                                                                        <img src="images/sample_zapas.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_zapas.jpg" class="swipebox">
                                                                        <img src="images/sample_zapas.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_zapas.jpg" class="swipebox">
                                                                        <img src="images/sample_zapas.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_zapas.jpg" class="swipebox">
                                                                        <img src="images/sample_zapas.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_zapas.jpg" class="swipebox">
                                                                        <img src="images/sample_zapas.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_zapas.jpg" class="swipebox">
                                                                        <img src="images/sample_zapas.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_zapas.jpg" class="swipebox">
                                                                        <img src="images/sample_zapas.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_zapas.jpg" class="swipebox">
                                                                        <img src="images/sample_zapas.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample_zapas.jpg" class="swipebox">
                                                                        <img src="images/sample_zapas.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>nombre del local</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="clearfix"> </div>
                                        </div>
                                </section>
                                 //Tab-4 

                        </div> //Content 
                </div> //Tabs 

        </div>
</div>-->
<!-- //Portfolio Old Store -->