<!-- Portfolio Local de ropa -->

<link rel="stylesheet" type="text/css" href="src/css/screen.css">
<link rel="stylesheet" type="text/css" href="css/figure.css">
<link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">        


<!-- About Local de ropa -->
<div class="container store-container" id="about-local">
    
    <div class="store-container-about about">

            <h3 class="slideanim">Old Store</h3>
            <br>
    </div> 
    <div>
        <ng-gallery images="galleryCtrl.images"></ng-gallery>
    </div>
    
    <div id="t-shirts" ng-show="isTShirtsVisible">        
    </div>
    
    <div id="shirts" ng-show="isShirtsVisible">
    </div>    

    <div id="joggingSuits" ng-show="isJoggingSuitsVisible">
    </div>    

    <div id="sweaters" ng-show="isSweatersVisible">
    </div>    

    <div id="jackets" ng-show="isJacketsVisible">
    </div>    

    <div id="accesories" ng-show="isAccesoriesVisible">
    </div>    
    
    <div id="footwear" ng-show="isFootwearVisible">
    </div>    
    
</div>