<!-- Portfolio Local de ropa -->

<link rel="stylesheet" type="text/css" href="src/css/screen.css">

<!-- About Local de ropa -->
<div class="about-store about" id="about-local">

    <div class="container">
        <div>
            <ng-gallery images="galleryCtrl.images"></ng-gallery>
        </div>
    </div>
    
</div>
