<!-- Portfolio Peluqueria -->
<div class="portfolio" id="portfolio-pelu">
        <div class="container">

                <h3>Portfolio pelu</h3>
                <div class="heading-underline"></div>

                <div class="tabs tabs-style-bar slideanim">
                        <nav>
                                <ul>
                                        <li><a href="#section-bar-1" class="icon icon-box"><span>Cortes de hombre</span></a></li>
                                        <li><a href="#section-bar-2" class="icon icon-display"><span>Cortes de mujer</span></a></li>
                                        <li><a href="#section-bar-3" class="icon icon-upload"><span>Estilos</span></a></li>
                                        <li><a href="#section-bar-4" class="icon icon-tools"><span>Experimental</span></a></li>
                                </ul>
                        </nav>

                        <div class="content-wrap">

                                <!-- Tab-1 -->
                                <section id="section-bar-1" class="slideanim">
                                        <h4>Cortes de hombre</h4>
                                        <div class="gallery-grids">
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="clearfix"> </div>
                                        </div>
                                </section>
                                <!-- //Tab-1 -->

                                <!-- Tab-2 -->
                                <section id="section-bar-2" class="slideanim">
                                        <h4>Cortes de mujer</h4>
                                        <div class="gallery-grids">
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="clearfix"> </div>
                                        </div>
                                </section>
                                <!-- //Tab-2 -->

                                <!-- Tab-3 -->
                                <section id="section-bar-3" class="slideanim">
                                        <h4>Estilos</h4>
                                        <div class="gallery-grids">
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="clearfix"> </div>
                                        </div>
                                </section>
                                <!-- //Tab-3 -->

                                <!-- Tab-4 -->
                                <section id="section-bar-4" class="slideanim">
                                        <h4>Experimental</h4>
                                        <div class="gallery-grids">
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="col-md-4 gallery-top">
                                                        <figure class="effect-bubba">
                                                                <a href="images/sample.jpg" class="swipebox">
                                                                        <img src="images/sample.jpg" alt="" class="img-responsive" />
                                                                        <figcaption>
                                                                                <h4>pelo</h4>
                                                                        </figcaption>
                                                                </a>
                                                        </figure>
                                                </div>
                                                <div class="clearfix"> </div>
                                        </div>
                                </section>
                                <!-- //Tab-4 -->

                        </div><!-- //Content -->
                </div><!-- //Tabs -->

        </div>
</div>
<!-- //Portfolio Peluqueria -->