<!-- Footer -->
<div class="footer">
    <div class="container">

        <div class="footer-info slideanim">
            <div class="col-md-3 col-sm-3 footer-info-grid links">
                <h4>SHORTCUTS</h4>
                <ul>
                    <li><a href="#about_us" data-ng-click="setGeneralSection()">Sobre nosotros</a></li>
                    <li><a href="#portfolio-pelu">~ galería Mano Libre</a></li>
                    <li><a href="#about-local">~ indumentaria</a></li>
                    <li><a href="#portfolio-local">~ galería de Indumentaria</a></li>
                    <li><a href="#team">~ nosotros</a></li>
                </ul>
            </div>

<!--        <div class="col-md-3 col-sm-3 footer-info-grid services">
                <h4>SPECIALIZE</h4>
                <ul>
                        <li>Web Design</li>
                        <li>Web Development</li>
                        <li>Photoshop</li>
                        <li>Photography</li>
                        <li>UX/UI</li>
                </ul>
            </div>-->
            <div class="col-md-3 col-sm-3 footer-info-grid address">
                <h4>DIRECCION</h4>
                <address>
                    <ul>
                        <li>Calle N. Videla</li>
                        <li>144 Quilmes Oeste</li>
                        <li>Buenos Aires, Argentina</li>
                        <li>Teléfono : +54 ...</li>
                    </ul>
                    <p>Email : <a class="mail" href="mailto:mail@example.com">local@pelo.com</a></p>
                </address>
            </div>
            <div class="col-md-3 col-sm-3 footer-info-grid email">
                <h4>NEWSLETTER</h4>
                <p>Subscripción a un newsletter con información, promociones, llegada de nueva indumentaria, etc.
                </p>

                <form class="newsletter">
                    <input class="email" type="email" placeholder="Dejanos tu e-mail...">
                    <input type="submit" class="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>

            <div class="copyright slideanim">
                <p>&copy; 2016  | Diseñado <a href=""></a></p>
            </div>

    </div> 
</div>
<!-- //Footer -->