<!-- About Local de ropa -->
<div class="about-store about" id="about-local">
    <div class="container store-container-about">

            <h3 class="slideanim">Old Store</h3>

            <p class="slideanim">· Zapatillas ·</p>
            <p class="slideanim">· Gorros de invierno, sweaters, chalinas ·</p>
            <p class="slideanim">· Camisas, remeras, pantalones, bermudas ·</p>
            <p class="slideanim">· Vintage ·</p>            
            <div class="social slideanim">
                <ul class="social-icons slideanim">
                <li><a href="#" class="facebook" title="Fanpage de Facebook"></a></li>
                <li><a href="#" class="twitter" title="Novedades en Twitter"></a></li>
                <li><a href="#" class="instagram" title="Galería Instagram"></a></li>
                <li><a href="#" class="youtube" title="Canal de Youtube"></a></li>
                </ul>
            </div>

    </div>
</div>
<!-- //About -->