<!-- About -->
<div class="about about-barber" id="about-pelu">
    <div class="container barber-container-about">

        <h3 class="slideanim">Barber & Bar spot</h3>

        <p class="slideanim">· Te ofrecemos lavado y corte de pelo, con o sin reserva ·</p>
        <p class="slideanim">· Acompañado por un servicio especial que varía según el día ·</p>
        <p class="slideanim">· Si preferís reservar tu horario podes adelantarnos que servicio de bar
        te gustaría encontrar mientras te cortamos ·</p> 
        <div class="social slideanim">
            <ul class="social-icons slideanim">
                <li><a href="#" class="facebook" title="Fanpage de Facebook"></a></li>
                <li><a href="#" class="twitter" title="Novedades en Twitter"></a></li>
                <li><a href="#" class="instagram" title="Galería Instagram"></a></li>
                <li><a href="#" class="youtube" title="Canal de Youtube"></a></li>
            </ul>
        </div>

    </div>
</div>
<!-- //About -->